body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
h2 {
    margin-top: 20px;
    color: #4CAF50;
    text-align: center;
}
form {
    margin-bottom: 20px;
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
.transactions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.transactions ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    flex: 1;
}
.transactions h2 {
    text-align: center;
    color: #4CAF50;
}
.transactions .income {
    margin-right: 10px;
}
.transactions .expense {
    margin-left: 10px;
}
.transactions .income li,
.transactions .expense li {
    background: #333;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
}
.transactions .income .transaction-date,
.transactions .expense .transaction-date {
    font-weight: bold;
    color: #4CAF50;
}
.transactions .income .transaction-amount,
.transactions .expense .transaction-amount {
    color: #4CAF50;
}
.transactions .income .transaction-category,
.transactions .expense .transaction-category {
    font-style: italic;
}
.transactions .income .transaction-frequency,
.transactions .expense .transaction-frequency {
    color: gray;
}
.img {
    width: 2vh;
    height: 2vh;
}
.hidden {
    display: none;
}
#editFormContainer{
    display:none;
}